.buttuon-wr {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: max-content;
  max-width: 200px;
  margin: 0 auto;
}
.buttuon-wr button {
  background-color: pink;
  border: 3px solid palevioletred;
  color: palevioletred;
}

body {
  background-color: rgb(251, 218, 224);
}
