.buttuon-wr {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: max-content;
  max-width: 200px;
}
.buttuon-wr button {
  background-color: pink;
  border: 3px solid palevioletred;
  color: palevioletred;
}

body {
  background-color: rgb(251, 218, 224);
}

.button-Wrapper {
  display: flex;
  gap: 40px;
  width: max-content;
  margin: 0 auto;
}

h2 {
  color: palevioletred;
}
